.DS_Store
__pycache__/
.vscode
data/detect
data/detect_new
data/val
data/val_new
data/test
data/test_new
data/train
data/train_new
data/hardsample
logs/
opencvmethod/
weights
results
outputs
data/process/vis


